<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Loan Approval System</h1>
    <p>Please choose an option below:</p>
    <a href="{% url 'register' %}">Register</a> |
    <a href="{% url 'login' %}">Login</a>
        <p>
            <a href="{% url 'loan_approval' %}" class="button">Loan_approval</a>
    </p>
</body>
</html>
