<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Approval Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Loan Approval System</h1>
    <p>Please choose an option below:</p>
    <a href="{% url 'register' %}">Register</a> |
    <a href="{% url 'login' %}">Login</a>
        <p>
            <a href="{% url 'loan_approval' %}" class="button">Loan_approval</a>
    </p>
</body>
</html>
